# -- Istio Registry Sync publishes ServiceEntry into this namespace or the namespace it is deployed into
publishNamespace: ""

# -- Interval in seconds between syncing
resyncPeriod: 5

cloudmap:
  # -- AWS Region to use to connect to Cloud Map
  region: ""

consul:
  # -- Consul's namespace to search service catalog
  namespace: ""
  # -- Consul's endpoint to query service catalog
  endpoint: ""
  # -- Consul's ACL token to access service catalog
  token: ""

image:
  repository: addon-containers.istio.tetratelabs.com/istio-registry-sync
  pullPolicy: IfNotPresent
  tag: v0.5.7

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  # Example of how to associate AWS IAM role with ServiceAccount for AWS Cloud Map integration
  # https://docs.aws.amazon.com/eks/latest/userguide/associate-service-account-role.html
  # annotations:
  #   eks.amazonaws.com/role-arn: arn:aws:iam::819220072900:role/cloudmap-read
  annotations: {}
  # -- The name of the service account to use.
  # -- If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
